html{
  // height: 100%;
  // width: 100vw;
}

.navbar{
  width: 100vw !important;
}

body{

  background-color: #132747 !important;
  height: 100vh !important;
  width: 100vw !important;

  // height: 100%;
  // width: 100vw;
    // background-color: #132747;
}

// .body{
//   // height: 100%;
//   width: 100vw;
//   background-color: #132747;
//   // background-size: cover;
// }

h2{
  display: inline-block;
  color: white;
  margin-top: 900px !important;
  transform:rotate(-90deg);

}

.hello{
  width: 575px;
  height: 500px;
  font-weight:bolder;
}


#first {
  height: 110%;
  width: 333px;
  background: linear-gradient(135deg, #1e632d, #6df235);
  transform: rotate(58deg);

}

#second {
  width: 252px;
  background-color: #672382;
  margin: auto;
  text-align: center;
}

#third {
  width: 111px;
  background-color: #20b4d6;
  margin: auto;
  text-align: center;
}


#fourth{
  width: 31px;
  // background-color: #f9f909;
  margin: auto;
  text-align: center;
}

.stripe {
  margin-top: -550px;
  margin-left: 350px;
  height: 1500px;
}
